<html>
   <body>
      <form action = "{{ url_for('insert') }}" method = "POST">
         <h3>Student Information</h3>
         Name<br>
         <input type = "text" name = "name" /></br>
         
         Age<br>
         <textarea name = "age" ></textarea><br>
         
         City<br>
         <input type = "text" name = "city" /><br>
         
         Course<br>
         <input type = "text" name = "course" /><br>
         <input type = "submit" value = "submit" /><br>
      </form>
   </body>
</html>